<div id="cliente-participaciones" class="page-layout simple fullwidth" >

    <!-- HEADER -->
    <!-- CONTENT HEADER -->
        <div class="center header md-accent-bg" layout="row" layout-align="space-between center">
            
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-button class="md-fab md-warn" aria-label="volver" ng-click="vm.atras()"><md-icon md-font-icon="icon-arrow-left"></md-icon></md-button>
                    <md-icon md-font-icon="icon-account"></md-icon>
                    <span>{{vm.inspector_selec}}</span>
                </div>
                <div class="product-count secondary-text" >
                    <span>Total :</span>
                    <span>{{vm.participaciones.length}}</span>
                </div>
            </div>

            <!-- 
            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Buscar" flex>
            </div> -->

        </div>
        <!-- / CONTENT HEADER -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content md-background-bg" layout="column" flex>

        <!-- DEMO CONTENT -->
        <!-- <div ng-include="'app/main/ui/page-layouts/demo/demo-content.html'"></div> -->
        <!-- / DEMO CONTENT -->

        <div class="md-title mt-32">Template 1</div>

        <!-- MS-CARD -->
        <ms-card template="'app/core/directives/ms-card/templates/template-1/template-1.html'" ng-model="vm.cards[0]"></ms-card>
        <!-- / MS-CARD -->

        <br><br>
        <div ng-if="vm.participaciones.length > 0">Participaciones:</div>
        <br><br>
        <div ng-repeat="participacion in ::vm.participaciones">
            {{participacion}}
            <br><br>
        </div>

    </div>
    <!-- / CONTENT -->

    <loadingl align="center" ng-show="!mostrar"></loadingl>

</div>

