.loading{
    display: block !important;
    position: absolute !important;
    left: 50%;
    top: 60% !important;
 }

.insignea{
    margin: 0 0 0 8px;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    padding: 2px 6px;
    border-radius: 50px;
}

.md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab {
    background-color: rgb(90, 70, 62) !important;
}

.btnVarios{
    font-size: 11px;
}

.button-export{
    position: absolute !important;
    right: 0px !important;
    top: 10px !important;
    color: #fff !important;
}


.header {
    height: 136px !important;
    min-height: 136px !important;
    max-height: 136px !important;
    padding: 24px 0;

    .h1 {

        md-icon {
            margin-right: 12px;
        }
    }

    .product-count {
        margin: 6px 0 0 46px;
    }

    .search {
        position: relative;
        padding-left: 24px;
        max-width: 480px;

        .search-icon {
            margin: 0 -24px 0 0;
        }

        .search-input {
            margin: 0 0 0 32px;
            background: none;
            font-size: 16px;
            line-height: 40px;
            height: 40px;
            color: #FFFFFF;
            border-bottom: 2px solid rgba(255, 255, 255, 0.3);
            transition: border-color 300ms ease;

            &:focus {
                border-color: rgba(255, 255, 255, 1);
            }

            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}


