<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-account-multiple"></md-icon>
                    <span>Clientes</span>
                </div>
                <div class="product-count secondary-text">
                    <span>Total :</span>
                    <span>{{vm.inspectores.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Buscar" flex>
            </div>

            <div class="button-export" layout="column" flex>
                <md-button class="md-button md-default-theme md-ink-ripple pull-right" ng-click="vm.exportar('#table_export')">Exportar</md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            
            <div ng-if="mostrar" class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Email</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">N° Participaciones</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">N° Eventos</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Base de Datos</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Acción</span>
                                </div>
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="mostrar" ng-repeat="inspector in ::vm.inspectores">  
                            <td>{{ $index + 1 }}</td>
                            <td>{{ inspector.email }}</td>
                            <td>{{ inspector.participaciones }}</td>
                            <td>{{ inspector.participaciones_en }}</td>
                            <td>{{ inspector.participaciones_evento }}</td>
                            <td>
                            <md-button title="Ver participaciones" class="edit-button md-icon-button" ng-click="vm.verAgenda(inspector.email)" aria-label="Product details">
                                    <md-icon md-font-icon="icon-library-books" class="s16"></md-icon>
                                </md-button>              
                            </td>

                        </tr>                       
                    </tbody>
                </table>

            </div>

            <!-- / CONTENT -->
            <!-- <loadingl align="center" ng-show="!mostrar"></loadingl> -->
            <div ng-if="!mostrar" layout="column" flex layout-align="center center">
                <md-progress-circular class="md-accent" md-diameter="42">
                </md-progress-circular>
            </div>

        </div>
        <!-- / CONTENT CARD -->

        <div ng-show="false" class="dataTable_wrapper">
            <table class="table table-striped table-hover" id="table_export">
                <thead>
                    <tr>                              
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Email</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title"># Participaciones</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title"># Eventos</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Base de Datos</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inspector in ::vm.inspectores" class="odd gradeX">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ inspector.email }}</td>
                        <td>{{ inspector.participaciones }}</td>
                        <td>{{ inspector.participaciones_en }}</td>
                        <td>{{ inspector.participaciones_evento }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- / CENTER -->

</div>