<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Inicio de sesión con la API de Facebook para obtener tokens de LMNeuquén</nb-card-header>
      <nb-card-body>
        <div style="text-align:center">
          <button class="btn btn-info" (click)="signInWithFB()"><!-- <span class="fa fa-facebook"></span> -->Facebook</button>
          <button class="btn btn-danger" (click)="signOut()">Salir </button>
        </div><br>
        <div style="text-align:center">
          <img class="card-img-top img-responsive photo" src="{{ photoUrl }}" style="with:100px; height:100px">
          <strong>Datos del usuario:</strong><br>
          {{name}}<br>
          {{email}}
        </div>
        <div style="text-align:center">
          <button class="btn btn-info" (click)="getDatos()">Obtener datos</button>
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" style="display:block; margin:auto">

    <nb-card>
      <nb-card-header>
        <div class="row show-grid">
              <div class="col-6">
                <div>Información</div>
              </div>
              <div class="col-6">
                <div>
                  <div style="text-align: right;">
                   <!-- <strong>Buscar: </strong>
                   <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/> -->
                  </div>
                </div>
              </div>
            </div>
      </nb-card-header>

      <nb-card-body>
        <nb-tabset>
        <nb-tab tabTitle="Post">
          <table class="table table-striped">
            <thead>
               <!-- <th style="text-align: center;">ID</th> -->
               <th style="text-align: center;">Usuario</th>
               <th style="text-align: center;">Mensaje</th>
               <th style="text-align: center;">Me gusta</th>
               <th style="text-align: center;">Comentarios</th>
            </thead>
            <tbody>
               <tr *ngFor="let item of post" >
                  <td style="text-align: center; vertical-align:middle;">
                    {{item.from.name}}
                  </td>
                  <td style="text-align: center; vertical-align:middle;">
                    {{item.message}}
                  </td>
                  <td style="text-align: center; vertical-align:middle;">
                    <div *ngFor="let lik of item.likes.data"><img src="{{lik.pic_small}}" alt="">  
                    </div>
                  </td>
                  <td style="text-align: center; vertical-align:middle;">
                    <div *ngFor="let com of item.comments.data">{{com.from.name}}, {{com.message}} </div>
                  </td>
                  
               </tr>
            </tbody>
          </table>
        </nb-tab>
      </nb-tabset>
        
          
      </nb-card-body>
      <nb-card-footer>
        
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>