<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Inicio de sesión con la API de Facebook para obtener tokens de LMNeuquén</nb-card-header>
      <nb-card-body>
        <div style="text-align:center">
          <button class="btn btn-info" (click)="signInWithFB()"><!-- <span class="fa fa-facebook"></span> -->Facebook</button>
          <button class="btn btn-danger" (click)="signOut()">Salir </button>
        </div><br>
        <div style="text-align:left">
          <img class="card-img-top img-responsive photo" src="{{ photoUrl }}" style="with:100px; height:100px">
          <strong>Datos del usuario:</strong><br>
          Nombre: {{name}}<br>
          Email: {{email}}
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>