<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Inicio de sesión con la API de Twitter de LMCipolletti</nb-card-header>
      <nb-card-body>
      	<div style="text-align:center">
        	<button class="btn btn-info" (click)="loginTwitter()">Twitter</button>
        </div>
        <div style="text-align:left">
          <strong>Datos del usuario:</strong><br>
          Nombre: {{displayName}}<br>
          Email: {{email}}
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>